%ul.nav.nav-tabs
  %li.active
    = link_to "New", "#"
  %li
    = link_to "Recommended", "#"
  %li
    %a{:href => "#", :title => "Create a New Channel", :id => "new_channel"}
      = image_tag "plus.png", :height => 12, :width => 12
