.post_row
  .row-fluid
    .body
      = link_to post.title, subscription_post_path(post.subscription, post)
      %br
      .details
        %span
          = details_link_for post
        .clear
        %span.post_controls
          - post.topics.each do |topic|
            = link_to topic.name, "#", :class => "btn btn-mini"
