.post
  .post_meta.pull-left
    =render("topics")
  %h3= @post.title
  .post_body
    %p
      = link_to "Full Original Post here....", @post.url
    - if @post.body
      = @post.body.html_safe
    - else
      = @post.summary.html_safe
