body {
  padding-top: 50px;
}
.main-title {
  font-size: 15pt;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

.post {
  font-size: 13pt;
  margin-top: 10px;
  margin-bottom: 10px;
  .details {
    padding-left: 5px;
    font-size: 10pt;
  }
    .source {
      font-size: 8pt;
      
    }
}
.pagination .current {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.fixed-right {
	position: fixed;
	float: right;
	right: 20px;
}
